

html {
  font-size: 20px;
  text-align: center;
}

body {
font-family: "Arial", "Meiryo", sans-serif;

}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 5px gray;
  border-bottom: solid 3px rgb(115, 115,114);

}


.pattern2 {
  color: skyblue;
}

.pattern1 {
  color :rgb(255, 192,203) ;
}

#basic p {
  font-weight: bold;
  
}